<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">🛒 Culture Circle</a>
  
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
  
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link disabled" href="#">
                👤 {{ current_user.username | capitalize }}
                {% if current_user.role == 'admin' %}
                  <span class="badge bg-warning text-dark">Admin</span>
                {% endif %}
              </a>
            </li>
  
            {% if current_user.role != 'admin' %}
            <li class="nav-item">
              <a class="nav-link" href="/cart">🛒 Cart</a>
            </li>
            {% endif %}        
            <li class="nav-item">
              <a class="nav-link text-danger" href="/logout">Logout</a>
            </li>
  
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
          {% endif %}
  
        </ul>
      </div>
    </div>
  </nav>
  